# Editor-specific
.vscode/

# Build artifacts
*.deb
*.a
*.exe
*.dll
*.so

# Frontend
/frontend/dist
/frontend/node_modules
/frontend/package.json.md5
/frontend/wailsjs
build/

# Packaging
/packaging
*.deb
icon.png

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# OS-specific
.DS_Store
Thumbs.db