[Desktop Entry]
Name=Code Zone
Exec=/opt/codezone/codezone
Icon=/opt/codezone/icon.png
Type=Application
Categories=Utility;
Comment=A desktop code playground for JavaScript, Go, and SQL. 