[Desktop Entry]
Name=Code Zone
Exec=/opt/codezone/codezone
Icon=codezone
Type=Application
Categories=Utility;
Comment=A desktop code playground for JavaScript/Typescript, Go, and Postgres/SQL. 